//colors
$sun: #F9B208;
$portafino: #FFFEB7;
$corduroy: #5E6F64;
$nandor: #4D5B52;
$bitter: #8C907B;
$cape-cod: #3F4441;
$white: #fff;
$white-rock: #F0ECE2;
$dawn-pink: #EFE7DB;
$rodeo-dust: #C7B198;
$Contessa: #BA7967;
$domino: #93795B;

$default-text-color: $white;
$secondary-text-color: $portafino;
$title-color: $domino;
$accent-color: $sun;

//fonts
$font-family-base: 'Karla', sans-serif;
$font-family-josefin: 'Josefin Slab', serif;

$font-size-base: 16px;

// $font-size-tiny: rem(14);
// $font-size-small: rem(18);
// $font-size-medium: rem(24);
// $font-size-big: rem(32);
// $font-size-large: rem(48);
// $font-size-huge: rem(60);
